h2 {
    color: #5FCFFC;
    background-color: rgb(255, 200, 200);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background-color: rgb(255, 200, 200);
}


/* F, hexadecimal =
15 */

body {
    background-color: #CC55EE;
}